body{
  font-family: "Poppins",sans-serif;
  background-color: #F4F4F4;
  margin: 0;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  width: 100%;
  justify-content: center;
}
.loading-container{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animate-spin{
  animation: spin 1s linear infinite;
  border: solid;
  border-color: #16abf8;
  width: 30%;
  aspect-ratio: 1/1;
  border-width: 3px;
  margin: auto;
  border-bottom: none;
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}